/*
 * ���� ������ ���� CSS ����
 */
ul.appline {
	list-style: none;
}

ul.appline li {
	border: 1px solid #a0a0a0;
	display: inline;
	float: left;
	position: relative;
	text-align: center;
	padding: 3px;
	min-height: 28px;
}

.title {
	background-color: #efefef;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

ul.sub-menu {
	list-style: none;
	background-color: #efefef;
	display: none;
	position: absolute;
	padding: 0;
	top: 0;
	z-index: 100;
}

ul.sub-menu li {
	border: none;
	display: block;
	position: relative;
	text-aling: center;
	padding: 3px;
}

.approve_line th:hover .sub-menu {
	display:block;
	z-index:100;
}
.approve_line th {
	text-align: center;
	background-color: #eee;
}